@{
    Layout = "_Layout_Start_Survey";
}
<div class="row justify-content-center">
    <div class="col-lg-10 col-md-8 d-flex flex-column align-items-center justify-content-center">
        <div class="card mb-3" style="min-width:100%">
            <div class="card-body pt-4" style="border-top: 8px solid #0d6efd; border-radius:8px;">
               
            <h5>
                   Please select your age group?
            </h5>              
            <ul style="list-style:none">
                <li>
                        <div class="form-check">
                            <input class="form-check-input" type="radio" name="gridRadios" id="gridRadios1" value="option1" checked>
                            <label class="form-check-label" for="gridRadios1">
                                Under 18
                            </label>
                        </div> 
                </li>
                    <li>
                        <div class="form-check">
                            <input class="form-check-input" type="radio" name="gridRadios" id="gridRadios1" value="option1" checked>
                            <label class="form-check-label" for="gridRadios1">
                                18 - 30
                            </label>
                        </div>
                       
                    </li>
                    <li>
                        <div class="form-check">
                            <input class="form-check-input" type="radio" name="gridRadios" id="gridRadios1" value="option1" checked>
                            <label class="form-check-label" for="gridRadios1">
                                31 - 50
                            </label>
                        </div> 
                    </li>
                    <li>
                        <div class="form-check">
                            <input class="form-check-input" type="radio" name="gridRadios" id="gridRadios1" value="option1" checked>
                            <label class="form-check-label" for="gridRadios1">
                                51 - 75
                            </label>
                        </div>
                    </li>
                    <li>
                        <div class="form-check">
                            <input class="form-check-input" type="radio" name="gridRadios" id="gridRadios1" value="option1" checked>
                            <label class="form-check-label" for="gridRadios1">
                                76 - 100
                            </label>
                        </div> 
                    </li>
            </ul>
            </div>
            <div class="card-footer">
                <div class="row">

                    <div class="col-12">
                        <div class="row bg-primary">
                            <div class="col-3">
                            </div>
                            <div class="col-2">
                                <button class="btn" type="submit" style="
                                        border-radius: 50%;
                                        background-color: #fff;
                                        ">
                                    <div class="icon">
                                        <i class="bx bxs-chevron-left" style="
    font-size: 30px;
color:#0d6efd;
"></i>
                                    </div>
                                </button>
                            </div>
                            <div class="col-2">
                            </div>
                            <div class="col-2">
                                <button class="btn" type="submit" style="
                                        border-radius: 50%;
                                        background-color: #fff;
                                        ">
                                    <div class="icon">
                                        <i class="bx bxs-chevron-right" style="
    font-size: 30px;
color:#0d6efd;
"></i>
                                    </div>
                                </button>
                            </div>
                            <div class="col-3">
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

       
    </div>
</div>
